.App {
  width: 100vw;
  height: 100vh;
}

.main-info {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
}

.city-input {
  all: unset;
  margin: 10px;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  width: 70%;
  text-align: left;
  padding: 0.3em 1em 0.3em 1em;
  color: #fff;
}

#weather-status {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

#weather-deg {
  font-size: 50px;
  position: relative;
  color: #fff;
}

#weather-deg::after {
  content: 'º';
  font-size: 40px;
  position: absolute;
  top: 5px;
  color: #fff;
}

.waves {
  position: absolute;
  left: 0;
  bottom: 45%;
}

.specific-info {
  width: 100%;
  height: calc(45% - 10px);
  background-color: #fefeff;
}

.city-name {
  margin: 0;
  font-weight: 600;
  text-align: center;
}

.degs::after {
  content: 'º';
}

.info-cards-container {
  padding: 20px;
  display: flex;
  overflow-x: scroll;
  gap: 30px;
  justify-content: center;
}

.info-card {
  min-width: 80px;
  min-height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.info-card-title {
  font-weight: 600;
  font-size: 20px;
}

/* FORECAST WEATHER */

.specific-info > select {
  all: unset;
  border: 2px solid;
  padding: 3px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
}

#select-hour {
  margin-left: 10px;
}

.date-text {
  margin: 15px 20px 5px 20px;
}

.forecast-weather-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-weather-element {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.weather-icon {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
  .info-cards-container {
    justify-content: flex-start;
  }
}



