.App {
  width: 100vw;
  height: 100vh;
}

#main-info {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.input-container {
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
}

.city-input {
  all: unset;
  margin: 10px;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  width: 70%;
  text-align: left;
  padding: 0.3em 1em 0.3em 1em;
  color: #fff;
}

.city-input::placeholder {
  color: #fff;
}

#weather-status {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

#weather-status::first-letter {
  text-transform: capitalize;
}

#weather-deg {
  font-size: 50px;
  position: relative;
  color: #fff;
}

#weather-deg::after {
  content: 'º';
  font-size: 40px;
  position: absolute;
  top: 5px;
  color: #fff;
}

.info-waves-container {
  transform: translateY(-30%);
  display: flex;
  flex-direction: column;
}

.specific-info {
  background-color: #fefeff;
  padding: 0 30px;
}

.city-name {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.degs::after {
  content: 'º';
}

.pressure::after {
  content: ' hPa';
}

.humidity::after {
  content: '%'
}

/* FORECAST WEATHER */

.specific-info > select {
  all: unset;
  border: 2px solid;
  padding: 3px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
}

#select-hour {
  margin-left: 10px;
}

.date-text {
  margin: 15px 20px 5px 20px;
}

.forecast-weather-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-weather-element {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.weather-icon {
  width: 30px;
  height: 30px;
}

/* INFORMATION   */

.tabs-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.info-main-tab {
  width: 50%;
  text-align: center;
  cursor: pointer;
  padding: 2px;
  font-weight: 500;
}

/* INFORMATION DATA */
.info-data-container {
  margin-top: 20px;
  text-align: center;
}

.info-data-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 25px;
}

.info-data-key {
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .info-cards-container {
    justify-content: flex-start;
  }
  .info-waves-container {
    transform: translateY(-100px);
  }
}

/* RAIN */

.drop {
  position: absolute;
  width: 2px;
  height: 5px;
  top: -10px;
  background-color: rgba(255, 255, 255, 0.4);
  animation: rain linear infinite;
}

.snow {
  width: 7px;
  height: 7px;
  border-radius: 4px;
}

@keyframes rain {
  0% {
    top: -10px;
  }
  100% {
    top: 100%;
  }
}
